body{
  background-image: url("../img/back.jpg");
  padding-left: 100px;
  padding-right:100px;
}

h1,h3{
    font-family: Impact, Charcoal, sans-serif;
    color: white;
    text-align: center;
    text-shadow: 2px 2px #000000;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto

}

#buttonGroup{
  padding-top: 2%;
}



.centerhead, .lateLine2, .late, .onTime, .homebutton {
  text-align: center;
}

#master {
    position: relative;
    top: 50%;
    transform: translateY(+12%);
}